@import "../../styles/mainUtil";

$sidebarSize: 30%;
$contentSize: calc(70% - 1rem);
.notifications {
  > div {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;

  .sidebar {
    background-color: $white;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border: 1px solid $lightest_line;
    overflow: hidden;
    @include boxShadow();

    .info {
      position: relative;
      display: flex;
      padding: 0 1rem;

      .pic {
        margin-right: 1rem;

        img {
          width: 50px;
          height: 50px;
          @include borderRadius(50%);
        }
      }

      .name {
        p {
          font-weight: 600;
          margin: 0 0 .5rem;
        }

        a {
          font-size: 90%;
        }
      }

      button {
        position: absolute;
        right: 0;

        span {
          span {
            background-color: $main;

            &:before, &:after {
              background-color: $main;
            }
          }
        }
      }

      &.open {
        margin-bottom: 1rem;
      }
    }

    ul {
      overflow: hidden;
      height: 0;
      padding: 0;
      margin: 0;
      list-style: none;
      @include defaultTransition;

      li {
        a {
          display: flex;
          @include defaultTransition;
          padding: 1rem;

          span {
            &:first-child {
              margin-right: .5rem;
            }
          }

          &.active {
            font-weight: 600;
            background-color: $light;
            border-left: 4px solid $main;
            color: $main;
          }
        }
      }

      &.open {
        height: auto;
      }
    }

  }

  .content {
    position: relative;
    @include boxShadow;
    background-color: $white;
    padding: 1rem;
    border: 1px solid $lightest_line;

    .title {
      background-color: $med_light;
      margin: -1rem -1rem 2rem;
      font-size: 1.5rem;
      padding: 1rem;
      @include defaultTransition;

      &:first-letter {
        color: $main;
      }
    }
  }

  @include breakpoint(768px) {
    .content {
      .title {
        font-size: 1.6rem;
      }

      &:not(.noAction) {
        //padding-right: calc(1rem + 36px + 1rem);

        .title {
          //margin-right: calc((1rem + 36px + 1rem) * -1);
        }
      }
    }
  }

  @include breakpoint(992px) {
    flex-direction: row;
    justify-content: space-between;

    .sidebar {
      width: 25%;
      top: 0;
      position: sticky;
      position: -webkit-sticky;
      height: 100%;
      margin-bottom: 0;

      .info {
        margin-bottom: 1rem;

        button {
          display: none;
        }
      }

      ul {
        height: auto;
      }
    }

    .content {
      width: calc(75% - 1rem);
    }
  }
}

.listAction {
  margin-bottom: 2rem;

  a {
    width: 100%;
  }

  &.bottom {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  @include breakpoint(768px) {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin-bottom: 0;
    text-align: right;
    a {
      width: inherit;
      padding: .3rem;
      font-size: 1.1rem !important;

      span {
        margin-left: 0;

        &:first-child {
          display: none;
        }
      }
    }
    &.bottom {
      display: none;
      top: unset;
      bottom: 1rem;
    }
  }

}

.menuItems {
  display: flex;
  flex-direction: column;

  .item {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    .inner {
      width: 100%;
      height: 100%;
      padding: 1rem;
      background-color: $white;
      display: inline-block;
      text-align: center;
      @include defaultTransition;

      svg {
        text-align: center;
        font-size: 2rem;
        margin: 0 auto 1rem;
      }

      h3 {
        margin-bottom: 1rem;
      }

      p {
        margin: 0;
      }

      &:hover,
      &:active,
      &:focus {
        @include boxShadow;
        text-decoration: none;

        svg {
          color: $main;
        }
      }
    }
  }

  @include breakpoint(768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .item {
      width: 50%;
      padding: 0 .5rem;

      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  @include breakpoint(992px) {
    .item {
      width: 33.333333%
    }
  }

  @include breakpoint(1200px) {
    .item {
      width: 25%;
    }
  }
}