@import "../../styles/mainUtil";

$sidebarSize: 30%;
$contentSize: calc(70% - 1rem);
.notifications {
  > div {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
}

.sidebar {
  background-color: $white;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border: 1px solid $lightest_line;
  @include boxShadow();

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      a {
        display: flex;
        @include defaultTransition;
        padding: 1rem;

        span {
          &:first-child {
            margin-right: .5rem;
          }
        }
      }
    }
  }
}

.info {
  display: flex;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.pic {
  margin-right: 1rem;

  img {
    width: 50px;
    height: 50px;
    @include borderRadius(50%);
  }
}

.name {
  p {
    font-weight: 600;
    margin: 0 0 .5rem;
  }

  a {
    font-size: 90%;
  }
}

.activeLink {
  font-weight: 600;
  background-color: $light;
  border-left: 4px solid $main;
  color: $main;
}

.content {
  @include boxShadow;
  background-color: $white;
  //height: 150vh;
  padding: 1rem;
  border: 1px solid $lightest_line;
}

.contentTitle {
  background-color: $med_light;
  margin: -1rem -1rem 2rem;
  font-size: 1.5rem;
  padding: 1rem;
  @include defaultTransition;
}

.listAction {
  margin-bottom: 2rem;

  a {
    width: 100%;
  }
}

.listActionBottom {
  margin-top: 2rem;

  a {
    width: 100%;
  }
}

@include breakpoint(768px) {
  .listAction,
  .listActionBottom {
    text-align: right;

    a {
      width: inherit;
    }
  }
}

.menuItems {
  display: flex;
  flex-direction: column;
}

.menuItem {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.menuItemInner {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: $white;
  display: inline-block;
  text-align: center;
  @include defaultTransition;

  svg {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto 1rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  p {
    margin: 0;
  }

  &:hover,
  &:active,
  &:focus {
    @include boxShadow;
    text-decoration: none;

    svg {
      color: $main;
    }
  }
}

@include breakpoint(768px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .sidebar {
    width: $sidebarSize;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    height: 100%;
    margin-bottom: 0;

    ul {
      li {
        a {
          padding: .75rem;
        }
      }
    }
  }

  .content {
    width: $contentSize;
  }

  //.contentTitle {
  //  font-size: 1.75rem;
  //}

  .menuItems {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menuItem {
    width: 50%;
    padding: 0 .5rem;

    &:last-child {
      margin-bottom: 1rem;
    }
  }
}

@include breakpoint(992px) {
  .sidebar {
    width: 25%;
  }

  .content {
    width: calc(75% - 1rem);
  }

  .menuItem {
    width: 33.333333%
  }
}

@include breakpoint(1200px) {
  .menuItem {
    width: 25%;
  }
}