@import "../../styles/mainUtil";

.formGroup {
  height: 100%;
  display: flex;
  align-items: flex-end;

  label {
    input, textarea {
      &::placeholder, &::-webkit-input-placeholder {
        text-transform: lowercase;

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  label {
    input[type=checkbox],
    span.cb {
      margin-bottom: 4px;
      font-weight: normal;
      font-size: 15px;
    }

    input[type=checkbox]:checked {
      background-color: $main;
      border-color: $lightest_line;
    }
  }

  @include breakpoint(768px) {
    padding: 0 .5rem;
  }
}

.noPadding {
  padding: 0 !important;
}