@import "../../styles/mainUtil";

.wrapper {
  display: flex;
  flex-direction: column;

  .job {
    margin-bottom: 1rem;

    .inner {
      .title {
        margin-bottom: .5rem;
        position: relative;
        padding-right: calc(70px + .5rem);

        a {
          h3 {
            font-weight: 500;
          }
        }

        .logo {
          position: absolute;
          top: 0;
          right: 0;

          img {
            max-width: 70px;
            max-height: 70px;
          }
        }
      }

      .company {
        margin-bottom: .5rem;

        a {
          font-size: 90%;
        }
      }

      .info {
        margin-bottom: .5rem;
        font-size: 90%;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            display: flex;
            margin-bottom: .2rem;

            svg {
              color: $main;
              margin-right: .3rem;
            }
          }
        }
      }

      .desc {
        font-size: 90%;
        margin: 0 0 .5rem;
      }

      .date {
        font-size: 80%;
        margin: 0;
        color: lighten($black, 45%);
      }
    }
  }

  @include breakpoint(768px) {
    flex-direction: row;
    flex-wrap: wrap;
    .job {
      width: 50%;

      .inner {
        .title {
          padding-right: calc(100px + .5rem);

          .logo {
            img {
              max-height: 100px;
              max-width: 100px;
            }
          }
        }
      }

      &:nth-child(even) {
        padding-left: .5rem;
      }

      &:nth-child(odd) {
        padding-right: .5rem;
      }
    }
  }
}