@import '../../styles/mainUtil';

.howItWorksItems {
    display: flex;
    flex-direction: column;
}

.item {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;

    p {
        margin: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.itemIcon {
    font-size: 3rem;
    color: $main;
    margin-bottom: .75rem;

    svg {
        margin: 0 auto;
    }
}

.itemTitle {}