@import '../../styles/mainUtil';

.section {
  padding: 0;
  background-image: url('../../public/reg-bg.jpg');
  background-size: cover;
  background-position: center center;
  // height: 100vh;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    padding: 1rem;
    overflow: hidden;
    background-color: $white;
    border: 1px solid $lightest_line;
    @include boxShadow;

    .brand {
      text-align: center;
      margin-bottom: 2rem;

      img {
        max-width: 100%;
        max-height: 50px;
      }
    }

    .disclaimer {
      p {
        margin: 0;
        font-size: 80%;
      }
    }
  }

  @include breakpoint(768px) {
    height: 100vh;
  }
}