@import './mainUtil';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body {
    @include mainFont;
}

p {
    line-height: 1.4;
}

@each $variant,
$color in $colors {
    .#{$variant} {
        background-color: $color;

        &:hover,
        &:active,
        &:focus {
            background-color: $color;
        }
    }
}