@import './mainUtil';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body {
  @include mainFont;
}

p {
  line-height: 1.4;
}

@each $variant,
$color in $colors {
  .#{$variant} {
    background-color: $color;

    &:disabled {
      color: $white;
      background: lighten($color, 30%) !important;

      &:hover {
        color: $white;
      }
    }

    &:not(:disabled) {
      &:hover,
      &:active,
      &:focus {
        background-color: $color;
        @include boxShadow;
      }
    }
  }
}

.transparent {
  color: inherit !important;
}

form {
  label {
    font-weight: 600;

    &.err {
      input {
        background-color: lighten($danger, 40%);
        border-color: $danger;
      }

      span {
        font-weight: 400;
        margin-top: .5rem;
        color: $danger;
      }
    }
  }
}