$white: #fff !default;
$black: #000 !default;
$main: #2266aa !default;
$success: #226622 !default;
$warning: #aa6622 !default;
$danger: #aa2222 !default;

$colors: ('main':$main, 'success':$success, 'warning':$warning, 'danger':$danger, 'transparent': transparent);