$white: #fff !default;
$black: #000 !default;
$main: #368887 !default;
$success: #28a745 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;
$lightest_line: rgba($black, .1);
$med_light: darken($white, 4%);
$light: darken($white, 7%);
$dark: lighten($black, 20%);

$colors: ('main':$main, 'success':$success, 'warning':$warning, 'danger':$danger);

$frow-enable-buttons: false;